:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  display: flex;
  flex-direction: column;
  /* grid-template-columns: repeat(auto-fill, minmax(75px, 1fr)); */
  gap: .75rem;
}

.cardColor {
  display: flex;
  gap: .5rem;
  border-radius: 12px;
  text-align: center;
  padding: 12px;
}

.card {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.forms {
  display: flex;
  flex-direction: row;
  gap: .15rem;
  align-items: center;
  width: fit-content;
}